body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d9d9d9;
  color: #fff;
}

.player {
  background-color: #1f222d;
  padding: 20px;
  border-radius: 10px;
  max-width: 720px;
  width: 95%;
  text-align: center;
  box-shadow: 0 8px 30px rgb(78, 78, 78);
}

audio {
  width: 100%;
  margin-top: 8px;
}

.controls {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 15px 12px;
  border-radius: 10px;
  border: none;
  background-color: #d6d6d6;
  cursor: pointer;
  color: #1f222d;
  font-weight: 500;
}

button:hover {
  opacity: 0.8;
}
